<div class=" mt-5">
  <div class="w-100"><router-outlet></router-outlet></div>
  <!-- ............................................................ -->
  <div class=" col-md-3 border mt-3">
    <div class="form">
      <form (submit)="onSubmit()" [formGroup]="formG" [ngClass]="click ? 'pdb' : ''">
        <p *ngIf="close" class="open-add-list js-open-add-list" (click)="onclick()">
          <span class="placeholder text-white"> <i class="fa fa-plus"></i>Add another list </span>
        </p>
        <div *ngIf="click">
          <div class="form-group"><input type="" class="form-control" formControlName="name" id="name" /></div>
          <div class="row">
            <div class="col-md-4"><button class="btn btn-success w-100">Add</button></div>
            <div class="col-md-4" (click)="onClose()"><p class="close text-white">&times;</p></div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- ....................................................................... -->
</div>
